#app {
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

.Toastify__toast {
  border-radius: 15px;
}

.jumbotron {
  background-image: url('https://picsum.photos/id/384/800/400');
  background-size: cover;
}
